$def with()
<div>
	<p class="regwelcome">使用帮助~</p>
	<div class="helpbox">
		<span class="helphead">
			<h3>1. 声明</h3>
		</span>
		本站是根据部分在校本科生的意愿建立起来的，目的是希望能给大家提供一个存放学习资料的地方，因此，尽管本站会存放用户上传的资料和试卷，但是本站对用户上传的资料不持有任何责任。本站会对用户上传的资料进行不定期审核和管理，目的是保证互联网环境的健康，所有对于试卷或者资料的版权问题，均和本站无关，但是我们会在审核后进行删除!<br/>
		本站对于用户上传的资料，可以在不通知作者的情况下进行更改和删除，但是请相信，我们做的都是为了更好的为大家服务和分享好的资料。我们之后可能会对用户上传的资料进行批量的分享和汇总，以在校内传播，但是所有资料均会注明上传者，以表彰你们的贡献。</br>
		所以，对于大家上传的资料，我们没有太多的要求，“无关的不上传，上传的就要是精品”！
		<span class="helphead">
			<h3>2. 注册</h3>
		</span>
		非注册用户拥有的权限是浏览网页，发表评论等，但是无法进行上传和下载，因此，需要上传和下载的用户，请<a href="/register" target="_blank">点击此处注册</a>。同时，我们会在登陆用户的首页根据注册资料进行相关的推荐，所以，请大家认真的填写资料！
		<span class="helphead">
			<h3>3. 上传</h3>
		</span>
		为了保证上传资料的质量，请先将欲上传的试卷以“年份学期课程名.doc(或.pdf)”的形式重命名(如2012-2012第1学期高等数学.doc)，课程名请使用全称哦！然后认真填写上传页面的资料。对于高数、物理、英语等公共基础课以及校公选课，不用填写院系和专业，但是专业课程请认真填写院系专业，课程名仍旧使用全称！待提交完成后方可关闭页面！
		<span class="helphead">
			<h3>4. 下载</h3>
		</span>
		欲下载相关试卷，请到<a href="/download">下载</a>页面进行搜索，或者到<a href="/">首页</a>搜索框进行搜索。搜索关键词暂时为课程名称全程，以后会增加分词功能，实现更完善的检索功能！
		<span class="helphead">
			<h3>5. 意见和建议</h3>
		</span>
		个人想法有限，请将您的意见或者好的建议留下。留言时请留下您的电子邮件，这样方便我及时和您沟通！当然您可以给我发邮件，邮箱地址：justplus@ahu.edu.cn或者关注我的<a target="_blank" href="http://weibo.com/745824265">新浪微博</a>，进行留言或者私信交流！
		<span class="helphead">
			<h3>6. 推广</h3>
		</span>
		为了让试卷充分，希望走过路过的各位多多在安青论坛、微博、空间进行推广<br/>
		打包推荐<a href="http://ahuzixi.sinaapp.com" target="_blank">安徽大学空闲教室查询系统</a>
	</div>
</div>